html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.t-font {
    font-family: 'Gochi Hand', cursive;
}

.p-font {
    font-family: 'Gochi Hand', cursive;
    font-size: 2em;
}

.pp-font{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.h-col {
    background-color: #FFA500;
}

.logo {
    margin-top: 2em;
}

#map {
    height: 100%;
}

.bttn {
    background-color: white;
    border: none;
    color: #FFA500;
}

.pp-font-s{
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: #FFA500;
}


